/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* CSS Variables */
:root {
  --hf-color: #4617FE;
  --white: #fff;
  --black: #000;
  --bg-color: #F8F8FA;
  --text-color: #633CFD;
  --box-color: 149, 157, 165;
  --alpha: 0.2;
  --faq-color: #E9EDFF;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

header {
  background-color: var(--hf-color);
  padding-left: 60px;
  height: 62vh;
  position: relative;
}

/* Navbar */
nav {
  text-align: right;
  height: 50px;
  padding-right: 60px;
  padding-top: 28px;
}

nav a {
  padding: 0 12px;
  color: var(--white);
  font-weight: 200;
}

.nav-item-active {
  background-color: var(--white);
  color: var(--hf-color);
  padding: 6px 10px;
  border: none;
  border-radius: 3px;
  font-weight: 400;
}

.nav-item {
  margin-left: 15px;
}

/* Header */
.header-text {
  padding-top: 50px;
  color: var(--white);
}

.header-text h2 {
  font-size: 35px;
  line-height: 1.8;
}

.header-text p {
  font-weight: 300;
  margin-top: 13px;
}

.header-image {
  display: block;
  position: absolute;
  top: 90px;
  right: 0;
}

.companies {
  margin: 30px 60px;
}

.company-items {
  padding-right: 130px;
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  font-family: "Righteous" sans-serif;
  font-size: 23px;
  margin-bottom: 30px;
}

/* API Section */
.api {
  margin: 80px 60px;
}

.api-heading {
  font-size: 40px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-active {
  background-color: var(--white);
  padding: 60px 28px;
  border-radius: 10px;
  box-shadow: rgba(var(--box-color), var(--alpha)) 0px 8px 24px;
}

.card-head-active {
  color: var(--hf-color);
}

/* Blog Section */
.blog-heading {
  font-size: 23px;
  margin: 0 60px;
}

.blog-cards {
  margin: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card {
  position: relative;
  border-radius: 8px;
  border-top-left-radius: 50px;
  background-color: var(--white);
  box-shadow: rgba(var(--box-color), var(--alpha)) 0px 8px 24px;
}

.blog-image {
  float: left;
}

.blog-image img {
  display: block;
}

.blog-content {
  float: right;
  padding: 20px 0;
  padding-left: 50px;
  padding-right: 100px;
}

.blog-content h6 {
  color: var(--text-color);
  padding-bottom: 10px;
}

.blog-content h3 {
  padding-bottom: 12px;
}

.blog-bottom, .blog-author {
  background-color: var(--white);
}

.blog-card-bottom-image {
  position: absolute;
  bottom: -20px;
  right: 250px;
}

.blog-author {
  width: 200px;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

/* FAQ Section */
.faq-section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--faq-color);
}

.faq-content {
  padding-left: 60px;
}

.faq-content h2 {
  font-size: 45px;
}

.faq-content h4:nth-of-type(1) {
  font-size: small;
  font-weight: normal;
  padding-top: 5px;
}

.faq-content h4:nth-of-type(2) {
  padding: 20px 0;
}

.faq-content button {
  color: var(--white);
  background-color: var(--hf-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}